In [1]:
import pandas as pd
from sqlalchemy import create_engine
import config

In [2]:
password = config.password

In [3]:
# reading in the different table csvs
country_df = pd.read_csv('../data/Clean/country.csv')

full_closures_table_df = pd.read_csv('../data/Clean/full_closures_table.csv')

no_closures_table_df = pd.read_csv('../data/Clean/no_closures_table.csv')

partial_borders_table_df = pd.read_csv('../data/Clean/partial_borders_table.csv')

partial_citizenship_table_df = pd.read_csv('../data/Clean/partial_citizenship_table.csv')

partial_history_table_df = pd.read_csv('../data/Clean/partial_history_table.csv')

partial_visa_table_df = pd.read_csv('../data/Clean/partial_visa_table.csv')

travel_restrictions_table_df = pd.read_csv('../data/Clean/travel_restrictions_clean.csv')

vaccinations_table_df = pd.read_csv('../data/Clean/vaccinations_cleaned.csv')

In [4]:
# connecting to sql
rds_connection_string = f"postgres:{password}@localhost:5433/Covid_restrictions_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [5]:
# checking for tables
engine.table_names()

['country',
 'vaccinations',
 'travel_restrictions',
 'full_closures',
 'no_closures',
 'partial_borders',
 'partial_visa',
 'partial_citizenship',
 'partial_history']

In [6]:
conn = engine.connect()
conn.execute(
    "TRUNCATE country, vaccinations, travel_restrictions, full_closures, no_closures," 
    "partial_borders, partial_citizenship, partial_history, partial_visa CASCADE;"
)

In [7]:
# loading csvs into tables
country_df.to_sql(name='country', con=engine, if_exists='append', index=False)

In [8]:
# loading csvs into tables
full_closures_table_df.to_sql(name='full_closures', con=engine, if_exists='append', index=False)
no_closures_table_df.to_sql(name='no_closures', con=engine, if_exists='append', index=False)
partial_borders_table_df.to_sql(name='partial_borders', con=engine, if_exists='append', index=False)
partial_citizenship_table_df.to_sql(name='partial_citizenship', con=engine, if_exists='append', index=False)
partial_history_table_df.to_sql(name='partial_history', con=engine, if_exists='append', index=False)
partial_visa_table_df.to_sql(name='partial_visa', con=engine, if_exists='append', index=False)
travel_restrictions_table_df.to_sql(name='travel_restrictions', con=engine, if_exists='append', index=False)
vaccinations_table_df.to_sql(name='vaccinations', con=engine, if_exists='append', index=False)

In [9]:
# confirming data has been entered - test1
pd.read_sql_query('select * from country', con=engine).head()

          Country Country_id
0     Afghanistan        AFG
1         Albania        ALB
2         Algeria        DZA
3  American Samoa        ASM
4         Andorra        AND

In [10]:
# confirming data has been entered - test2
pd.read_sql_query('select * from vaccinations', con=engine).head()

,Country,Country_id,vaccination_date,total_vaccinations,avg_daily_vaccinations
0,United Arab Emirates,ARE,2021-01-26,2677680,77424.363636
1,Argentina,ARG,2021-01-26,305880,10989.206897
2,Austria,AUT,2021-01-26,185643,7936.636364
3,Belgium,BEL,2021-01-25,213301,6503.103448
4,Bulgaria,BGR,2021-01-26,29122,1008.413793