In [1]:
# import dependencies
import pandas as pd

In [2]:
# read in csv
vaccinations_df = pd.read_csv('Raw/vaccinations.csv')
vaccinations_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Argentina,ARG,12/29/2020,700.0,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN
1,Argentina,ARG,12/30/2020,NaN,NaN,NaN,NaN,15656.0,NaN,NaN,NaN,346.0
2,Argentina,ARG,12/31/2020,32013.0,NaN,NaN,NaN,15656.0,0.07,NaN,NaN,346.0
3,Argentina,ARG,1/1/2021,NaN,NaN,NaN,NaN,11070.0,NaN,NaN,NaN,245.0
4,Argentina,ARG,1/2/2021,NaN,NaN,NaN,NaN,8776.0,NaN,NaN,NaN,194.0

In [3]:
# viewing current columns
vaccinations_df.columns

Index(['location', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred',
       'daily_vaccinations_per_million'],
      dtype='object')

In [4]:
# taking columns subset
vaccinations_df = vaccinations_df[['location', 'iso_code', 'date', 'total_vaccinations', 'daily_vaccinations']]
vaccinations_df.columns

Index(['location', 'iso_code', 'date', 'total_vaccinations',
       'daily_vaccinations'],
      dtype='object')

In [5]:
vaccinations_df.head()

    location iso_code        date  total_vaccinations  daily_vaccinations
0  Argentina      ARG  12/29/2020               700.0                 NaN
1  Argentina      ARG  12/30/2020                 NaN             15656.0
2  Argentina      ARG  12/31/2020             32013.0             15656.0
3  Argentina      ARG    1/1/2021                 NaN             11070.0
4  Argentina      ARG    1/2/2021                 NaN              8776.0

In [6]:
# renaming the columns
vaccinations_df.columns = ['Country', 'Country_id', 'date', 'total_vaccinations', 'daily_vaccinations']
vaccinations_df.columns

Index(['Country', 'Country_id', 'date', 'total_vaccinations',
       'daily_vaccinations'],
      dtype='object')

In [7]:
vaccinations_df.head()

     Country Country_id        date  total_vaccinations  daily_vaccinations
0  Argentina        ARG  12/29/2020               700.0                 NaN
1  Argentina        ARG  12/30/2020                 NaN             15656.0
2  Argentina        ARG  12/31/2020             32013.0             15656.0
3  Argentina        ARG    1/1/2021                 NaN             11070.0
4  Argentina        ARG    1/2/2021                 NaN              8776.0

In [8]:
# checking which cols have null values
vaccinations_df.isnull().sum()

Country                 0
Country_id            209
date                    0
total_vaccinations    535
daily_vaccinations     64
dtype: int64

In [17]:
vaccinations_df[vaccinations_df['Country_id'] == nan]

NameError: name 'nan' is not defined

In [13]:
vaccinations_df['Country_id'].unique()

array(['ARG', 'AUT', 'BHR', 'BEL', 'BMU', 'BRA', 'BGR', 'CAN', 'CHL',
       'CHN', 'CRI', 'HRV', 'CYP', 'CZE', 'DNK', 'ECU', nan, 'EST', 'FIN',
       'FRA', 'DEU', 'GIB', 'GRC', 'HUN', 'ISL', 'IND', 'IDN', 'IRL',
       'IMN', 'ISR', 'ITA', 'KWT', 'LVA', 'LTU', 'LUX', 'MLT', 'MEX',
       'NLD', 'NOR', 'OMN', 'PAN', 'POL', 'PRT', 'ROU', 'RUS', 'SAU',
       'SRB', 'SYC', 'SGP', 'SVK', 'SVN', 'ESP', 'SWE', 'CHE', 'TUR',
       'ARE', 'GBR', 'USA', 'OWID_WRL'], dtype=object)

In [ ]:
# renaming NaNs
vaccinations_df.fillna('no policy', inplace=True)
vaccinations_df.head()