In [1]:
# import dependencies
import pandas as pd

In [2]:
# read in csv
vaccinations_df = pd.read_csv('Raw/vaccinations.csv')
vaccinations_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Argentina,ARG,12/29/2020,700.0,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN
1,Argentina,ARG,12/30/2020,NaN,NaN,NaN,NaN,15656.0,NaN,NaN,NaN,346.0
2,Argentina,ARG,12/31/2020,32013.0,NaN,NaN,NaN,15656.0,0.07,NaN,NaN,346.0
3,Argentina,ARG,1/1/2021,NaN,NaN,NaN,NaN,11070.0,NaN,NaN,NaN,245.0
4,Argentina,ARG,1/2/2021,NaN,NaN,NaN,NaN,8776.0,NaN,NaN,NaN,194.0

In [3]:
# viewing current columns
vaccinations_df.columns

Index(['location', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred',
       'daily_vaccinations_per_million'],
      dtype='object')

In [4]:
# taking columns subset
vaccinations_df = vaccinations_df[['location', 'iso_code', 'date', 'total_vaccinations', 'daily_vaccinations']]
vaccinations_df.columns

Index(['location', 'iso_code', 'date', 'total_vaccinations',
       'daily_vaccinations'],
      dtype='object')

In [5]:
vaccinations_df.head()

    location iso_code        date  total_vaccinations  daily_vaccinations
0  Argentina      ARG  12/29/2020               700.0                 NaN
1  Argentina      ARG  12/30/2020                 NaN             15656.0
2  Argentina      ARG  12/31/2020             32013.0             15656.0
3  Argentina      ARG    1/1/2021                 NaN             11070.0
4  Argentina      ARG    1/2/2021                 NaN              8776.0

In [6]:
# renaming the columns
vaccinations_df.columns = ['Country', 'Country_id', 'date', 'total_vaccinations', 'daily_vaccinations']
vaccinations_df.columns

Index(['Country', 'Country_id', 'date', 'total_vaccinations',
       'daily_vaccinations'],
      dtype='object')

In [7]:
# printing df head
vaccinations_df.head()

     Country Country_id        date  total_vaccinations  daily_vaccinations
0  Argentina        ARG  12/29/2020               700.0                 NaN
1  Argentina        ARG  12/30/2020                 NaN             15656.0
2  Argentina        ARG  12/31/2020             32013.0             15656.0
3  Argentina        ARG    1/1/2021                 NaN             11070.0
4  Argentina        ARG    1/2/2021                 NaN              8776.0

In [8]:
# checking which cols have null values
vaccinations_df.isnull().sum()

Country                 0
Country_id            209
date                    0
total_vaccinations    535
daily_vaccinations     64
dtype: int64

In [9]:
# checking the country ids within the df
vaccinations_df['Country_id'].unique()

array(['ARG', 'AUT', 'BHR', 'BEL', 'BMU', 'BRA', 'BGR', 'CAN', 'CHL',
       'CHN', 'CRI', 'HRV', 'CYP', 'CZE', 'DNK', 'ECU', nan, 'EST', 'FIN',
       'FRA', 'DEU', 'GIB', 'GRC', 'HUN', 'ISL', 'IND', 'IDN', 'IRL',
       'IMN', 'ISR', 'ITA', 'KWT', 'LVA', 'LTU', 'LUX', 'MLT', 'MEX',
       'NLD', 'NOR', 'OMN', 'PAN', 'POL', 'PRT', 'ROU', 'RUS', 'SAU',
       'SRB', 'SYC', 'SGP', 'SVK', 'SVN', 'ESP', 'SWE', 'CHE', 'TUR',
       'ARE', 'GBR', 'USA', 'OWID_WRL'], dtype=object)

In [10]:
# checking which countries have null country ids
vaccinations_df[vaccinations_df['Country_id'].isnull()]['Country'].unique()

array(['England', 'European Union', 'Northern Cyprus', 'Northern Ireland',
       'Scotland', 'Wales'], dtype=object)

In [11]:
# checking whether the countries w/in UK add up to UK total - they are the same
ni_total_vacc = [x for x in vaccinations_df[vaccinations_df['Country'] == 'Northern Ireland']['total_vaccinations']][-1]
wales_total_vacc = [x for x in vaccinations_df[vaccinations_df['Country'] == 'Wales']['total_vaccinations']][-1]
scotland_total_vacc = [x for x in vaccinations_df[vaccinations_df['Country'] == 'Scotland']['total_vaccinations']][-1]
england_total_vacc = [x for x in vaccinations_df[vaccinations_df['Country'] == 'England']['total_vaccinations']][-1]
uk_total_vacc = [x for x in vaccinations_df[vaccinations_df['Country'] == 'United Kingdom']['total_vaccinations']][-1]
print(f'added total: {ni_total_vacc + wales_total_vacc + scotland_total_vacc + england_total_vacc}')
print(f'UK total: {uk_total_vacc}')

added total: 7325773.0
UK total: 7325773.0

In [12]:
# reading in travel restrictions dataset to see which of those countries it has - only has UK, not indiv countries
# also does not contain N. Cyprus
travel_df = pd.read_csv('Clean/travel_restrictions_clean.csv')

print(travel_df[travel_df['Country'] == 'Northern Cyprus'])
print(travel_df[travel_df['Country'] == 'Scotland'])
print(travel_df[travel_df['Country'] == 'Northern Ireland'])
print(travel_df[travel_df['Country'] == 'Wales'])
print(travel_df[travel_df['Country'] == 'England'])
print(travel_df[travel_df['Country'].str.contains('United Kingdom')])

Empty DataFrame
Columns: [Country, Country_id, Quarantine_type]
Index: []
Empty DataFrame
Columns: [Country, Country_id, Quarantine_type]
Index: []
Empty DataFrame
Columns: [Country, Country_id, Quarantine_type]
Index: []
Empty DataFrame
Columns: [Country, Country_id, Quarantine_type]
Index: []
Empty DataFrame
Columns: [Country, Country_id, Quarantine_type]
Index: []
                                               Country Country_id  \
121  United Kingdom of Great Britain & Northern Ire...        GBR

                                       Quarantine_type
121  Self-isolation at own accommodation.\n<br>\n<b...

In [13]:
# reading in policy restrictions dataset to see which of those countries it has - only has UK, not indiv countries
# also does not contain N. Cyprus
policy_df = pd.read_csv('Clean/policy_cleaned.csv')

print(policy_df[policy_df['Country'] == 'Northern Cyprus'])
print(policy_df[policy_df['Country'] == 'Scotland'])
print(policy_df[policy_df['Country'] == 'Northern Ireland'])
print(policy_df[policy_df['Country'] == 'Wales'])
print(policy_df[policy_df['Country'] == 'England'])
print(policy_df[policy_df['Country'].str.contains('United Kingdom')])

Empty DataFrame
Columns: [Country, Country_id, Policy_existing, Policy_info, End_date, Air_policy_existing, Air_policy_info, Land_policy_existing, Land_policy_info, Sea_policy_existing, Sea_policy_info, Citizen_policy_existing, Citizen_policy_info, History_policy_existing, History_policy_info, Refugee_policy_existing, Refugee_policy_info, Visa_policy_existing, Visa_policy_info, Citizen_policy_existing.1, Citizen_policy_info.1, Country_policy_existing, Country_info, Work_policy_info]
Index: []

[0 rows x 24 columns]
Empty DataFrame
Columns: [Country, Country_id, Policy_existing, Policy_info, End_date, Air_policy_existing, Air_policy_info, Land_policy_existing, Land_policy_info, Sea_policy_existing, Sea_policy_info, Citizen_policy_existing, Citizen_policy_info, History_policy_existing, History_policy_info, Refugee_policy_existing, Refugee_policy_info, Visa_policy_existing, Visa_policy_info, Citizen_policy_existing.1, Citizen_policy_info.1, Country_policy_existing, Country_info, Work_policy_info]
Index: []

[0 rows x 24 columns]
Empty DataFrame
Columns: [Country, Country_id, Policy_existing, Policy_info, End_date, Air_policy_existing, Air_policy_info, Land_policy_existing, Land_policy_info, Sea_policy_existing, Sea_policy_info, Citizen_policy_existing, Citizen_policy_info, History_policy_existing, History_policy_info, Refugee_policy_existing, Refugee_policy_info, Visa_policy_existing, Visa_policy_info, Citizen_policy_existing.1, Citizen_policy_info.1, Country_policy_existing, Country_info, Work_policy_info]
Index: []

[0 rows x 24 columns]
Empty DataFrame
Columns: [Country, Country_id, Policy_existing, Policy_info, End_date, Air_policy_existing, Air_policy_info, Land_policy_existing, Land_policy_info, Sea_policy_existing, Sea_policy_info, Citizen_policy_existing, Citizen_policy_info, History_policy_existing, History_policy_info, Refugee_policy_existing, Refugee_policy_info, Visa_policy_existing, Visa_policy_info, Citizen_policy_existing.1, Citizen_policy_info.1, Country_policy_existing, Country_info, Work_policy_info]
Index: []

[0 rows x 24 columns]
Empty DataFrame
Columns: [Country, Country_id, Policy_existing, Policy_info, End_date, Air_policy_existing, Air_policy_info, Land_policy_existing, Land_policy_info, Sea_policy_existing, Sea_policy_info, Citizen_policy_existing, Citizen_policy_info, History_policy_existing, History_policy_info, Refugee_policy_existing, Refugee_policy_info, Visa_policy_existing, Visa_policy_info, Citizen_policy_existing.1, Citizen_policy_info.1, Country_policy_existing, Country_info, Work_policy_info]
Index: []

[0 rows x 24 columns]
           Country Country_id Policy_existing  Policy_info    End_date  \
78  United Kingdom        GBR         PARTIAL  HISTORY_BAN  2001-01-01

    Air_policy_existing Air_policy_info  Land_policy_existing  \
78                    0       no policy                     0

   Land_policy_info  Sea_policy_existing  ... History_policy_info  \
78        no policy                    0  ...             Denmark

    Refugee_policy_existing Refugee_policy_info  Visa_policy_existing  \
78                        0           no policy                     0

   Visa_policy_info  Citizen_policy_existing.1 Citizen_policy_info.1  \
78        no policy                          0             no policy

    Country_policy_existing Country_info  Work_policy_info
78                        0    no policy                 0

[1 rows x 24 columns]

In [14]:
# dropping country id nans
# checking nans left
vacc_countries_df = pd.DataFrame(vaccinations_df[vaccinations_df['Country_id'].notna()])
vacc_countries_df.isnull().sum()

Country                 0
Country_id              0
date                    0
total_vaccinations    435
daily_vaccinations     58
dtype: int64

In [15]:
# changing nans to 0 for total_vaccinations and daily_vaccinations
vacc_countries_df.fillna('0', inplace=True)
vacc_countries_df.isnull().sum()

Country               0
Country_id            0
date                  0
total_vaccinations    0
daily_vaccinations    0
dtype: int64

In [16]:
vacc_countries_df.head(20)

      Country Country_id        date total_vaccinations daily_vaccinations
0   Argentina        ARG  12/29/2020                700                  0
1   Argentina        ARG  12/30/2020                  0              15656
2   Argentina        ARG  12/31/2020              32013              15656
3   Argentina        ARG    1/1/2021                  0              11070
4   Argentina        ARG    1/2/2021                  0               8776
5   Argentina        ARG    1/3/2021                  0               7400
6   Argentina        ARG    1/4/2021              39599               6483
7   Argentina        ARG    1/5/2021                  0               7984
8   Argentina        ARG    1/6/2021                  0               8173
9   Argentina        ARG    1/7/2021                  0               8363
10  Argentina        ARG    1/8/2021             107542              10519
11  Argentina        ARG    1/9/2021                  0              11942
12  Argentina        ARG   1/10/2021                  0              13365
13  Argentina        ARG   1/11/2021                  0              14788
14  Argentina        ARG   1/12/2021                  0              14056
15  Argentina        ARG   1/13/2021             166833              13323
16  Argentina        ARG   1/14/2021                  0              13320
17  Argentina        ARG   1/15/2021             200759              13317
18  Argentina        ARG   1/16/2021                  0              12971
19  Argentina        ARG   1/17/2021                  0              12624

In [17]:
# converting End Date col to dtype datetime
vacc_countries_df['date'] = pd.to_datetime(vacc_countries_df['date'])

In [18]:
# checking dtype
vacc_countries_df['date'].dtype

dtype('<M8[ns]')

In [19]:
vacc_countries_df.head()

     Country Country_id       date total_vaccinations daily_vaccinations
0  Argentina        ARG 2020-12-29                700                  0
1  Argentina        ARG 2020-12-30                  0              15656
2  Argentina        ARG 2020-12-31              32013              15656
3  Argentina        ARG 2021-01-01                  0              11070
4  Argentina        ARG 2021-01-02                  0               8776

In [20]:
# sorting by country id then end date
# !!! use this df if you want to look at avg vaccinations per day
double_sorted_vacc_countries_df = vacc_countries_df.sort_values(['Country_id','date'])
double_sorted_vacc_countries_df.head(20)

,Country,Country_id,date,total_vaccinations,daily_vaccinations
1477,United Arab Emirates,ARE,2021-01-05,826301,0
1478,United Arab Emirates,ARE,2021-01-06,0,30698
1479,United Arab Emirates,ARE,2021-01-07,887697,30698
1480,United Arab Emirates,ARE,2021-01-08,941556,38418
1481,United Arab Emirates,ARE,2021-01-09,1.02035e+06,48512
1482,United Arab Emirates,ARE,2021-01-10,1.08657e+06,52053
1483,United Arab Emirates,ARE,2021-01-11,1.16725e+06,56825
1484,United Arab Emirates,ARE,2021-01-12,1.27565e+06,64193
1485,United Arab Emirates,ARE,2021-01-13,1.39458e+06,76797
1486,United Arab Emirates,ARE,2021-01-14,1.52783e+06,91448
1487,United Arab Emirates,ARE,2021-01-15,1.66599e+06,103490
1488,United Arab Emirates,ARE,2021-01-16,1.79793e+06,111082
1489,United Arab Emirates,ARE,2021-01-17,1.88278e+06,113744
1490,United Arab Emirates,ARE,2021-01-18,1.97152e+06,114896
1491,United Arab Emirates,ARE,2021-01-19,2.06537e+06,112816
1492,United Arab Emirates,ARE,2021-01-20,2.16115e+06,109510
1493,United Arab Emirates,ARE,2021-01-21,2.24607e+06,102605
1494,United Arab Emirates,ARE,2021-01-22,2.33908e+06,96156
1495,United Arab Emirates,ARE,2021-01-23,2.4268e+06,89839
1496,United Arab Emirates,ARE,2021-01-24,2.48779e+06,86430

In [21]:
subset_df = pd.DataFrame(double_sorted_vacc_countries_df[['Country_id', 'daily_vaccinations']])
subset_df['daily_vaccinations'] = pd.to_numeric(subset_df['daily_vaccinations'])
subset_df.dtypes

Country_id             object
daily_vaccinations    float64
dtype: object

In [22]:
grouped_df = subset_df.groupby('Country_id')
grouped_df.mean()

            daily_vaccinations
Country_id
ARE               7.742436e+04
ARG               1.098921e+04
AUT               7.936636e+03
BEL               6.503103e+03
BGR               1.008414e+03
BHR               3.948483e+03
BMU               2.382857e+02
BRA               4.206045e+04
CAN               1.809525e+04
CHE               4.971394e+03
CHL               2.126853e+03
CHN               3.221525e+05
CRI               1.235273e+03
CYP               7.086471e+02
CZE               6.480484e+03
DEU               5.752873e+04
DNK               6.904767e+03
ECU               5.400000e+01
ESP               5.383204e+04
EST               8.524000e+02
FIN               3.488889e+03
FRA               4.367687e+04
GBR               1.551514e+05
GIB               7.103750e+02
GRC               5.142867e+03
HRV               2.176370e+03
HUN               5.227621e+03
IDN               1.267727e+04
IMN               1.092000e+02
IND               1.643748e+05
IRL               5.025520e+03
ISL               1.987778e+02
ISR               9.392836e+04
ITA               4.467416e+04
KWT               0.000000e+00
LTU               2.330000e+03
LUX               2.276296e+02
LVA               6.995517e+02
MEX               1.776447e+04
MLT               6.330345e+02
NLD               7.573429e+03
NOR               2.534833e+03
OMN               1.161167e+03
OWID_WRL          1.498404e+06
PAN               9.576667e+02
POL               2.398524e+04
PRT               8.285367e+03
ROU               1.401880e+04
RUS               3.090087e+04
SAU               1.764208e+04
SGP               4.374167e+03
SRB               8.851263e+03
SVK               4.631682e+03
SVN               2.261087e+03
SWE               6.097967e+03
SYC               1.044471e+03
TUR               1.398127e+05
USA               5.292104e+05

In [23]:
avg_vac_list = [x for x in grouped_df.mean()['daily_vaccinations']]
avg_vac_list

[77424.36363636363,
 10989.206896551725,
 7936.636363636364,
 6503.103448275862,
 1008.4137931034483,
 3948.4827586206898,
 238.28571428571428,
 42060.454545454544,
 18095.25,
 4971.393939393939,
 2126.8529411764707,
 322152.5135135135,
 1235.2727272727273,
 708.6470588235294,
 6480.4838709677415,
 57528.73333333333,
 6904.766666666666,
 54.0,
 53832.04347826087,
 852.4,
 3488.8888888888887,
 43676.86956521739,
 155151.35135135136,
 710.375,
 5142.866666666667,
 2176.3703703703704,
 5227.620689655172,
 12677.266666666666,
 109.2,
 164374.75,
 5025.52,
 198.77777777777777,
 93928.35897435897,
 44674.16129032258,
 0.0,
 2330.0,
 227.62962962962962,
 699.551724137931,
 17764.470588235294,
 633.0344827586207,
 7573.428571428572,
 2534.8333333333335,
 1161.1666666666667,
 1498404.4545454546,
 957.6666666666666,
 23985.241379310344,
 8285.366666666667,
 14018.8,
 30900.866666666665,
 17642.083333333332,
 4374.166666666667,
 8851.263157894737,
 4631.681818181818,
 2261.086956521739,
 6097.966666666666,
 1044.4705882352941,
 139812.7142857143,
 529210.4210526316]

In [24]:
# keeping only the rows with the most recent date for each country
last_date_df = double_sorted_vacc_countries_df.drop_duplicates(subset='Country_id', keep='last')
last_date_df.head(20)

,Country,Country_id,date,total_vaccinations,daily_vaccinations
1498,United Arab Emirates,ARE,2021-01-26,2.67768e+06,87473
28,Argentina,ARG,2021-01-26,305880,9626
50,Austria,AUT,2021-01-26,185643,6487
108,Belgium,BEL,2021-01-25,213301,12415
155,Bulgaria,BGR,2021-01-26,29122,985
79,Bahrain,BHR,2021-01-20,144130,6110
115,Bermuda,BMU,2021-01-16,1665,278
126,Brazil,BRA,2021-01-26,848883,119630
199,Canada,CAN,2021-01-26,868454,31045
1462,Switzerland,CHE,2021-01-24,197368,14995
233,Chile,CHL,2021-01-26,66569,2235
270,China,CHN,2021-01-20,1.5e+07,714286
303,Costa Rica,CRI,2021-01-25,48128,2677
347,Cyprus,CYP,2021-01-22,17379,1022
378,Czechia,CZE,2021-01-26,222450,10761
588,Germany,DEU,2021-01-25,1.92169e+06,94722
408,Denmark,DNK,2021-01-25,213724,5036
410,Ecuador,ECU,2021-01-22,108,108
1399,Spain,ESP,2021-01-26,1.29122e+06,46446
477,Estonia,EST,2021-01-26,27180,1124

In [25]:
last_date_df = last_date_df[['Country', 'Country_id', 'date', 'total_vaccinations']]
last_date_df.head()

                   Country Country_id       date total_vaccinations
1498  United Arab Emirates        ARE 2021-01-26        2.67768e+06
28               Argentina        ARG 2021-01-26             305880
50                 Austria        AUT 2021-01-26             185643
108                Belgium        BEL 2021-01-25             213301
155               Bulgaria        BGR 2021-01-26              29122

In [26]:
last_date_df['avg_daily_vaccinations'] = avg_vac_list
last_date_df.head()

,Country,Country_id,date,total_vaccinations,avg_daily_vaccinations
1498,United Arab Emirates,ARE,2021-01-26,2.67768e+06,77424.363636
28,Argentina,ARG,2021-01-26,305880,10989.206897
50,Austria,AUT,2021-01-26,185643,7936.636364
108,Belgium,BEL,2021-01-25,213301,6503.103448
155,Bulgaria,BGR,2021-01-26,29122,1008.413793

In [27]:
last_date_df.reset_index(inplace=True, drop=True)
last_date_df.head()

,Country,Country_id,date,total_vaccinations,avg_daily_vaccinations
0,United Arab Emirates,ARE,2021-01-26,2.67768e+06,77424.363636
1,Argentina,ARG,2021-01-26,305880,10989.206897
2,Austria,AUT,2021-01-26,185643,7936.636364
3,Belgium,BEL,2021-01-25,213301,6503.103448
4,Bulgaria,BGR,2021-01-26,29122,1008.413793

In [28]:
# len of df - will be a seperate table in eventual database
len(last_date_df)

58

In [29]:
# exporting df to csv
last_date_df.to_csv('Clean/vaccinations_cleaned.csv', index=False)